@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=La+Belle+Aurore&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-belle-aurore: "La Belle Aurore", cursive;
  --font-outfit: "Outfit", sans-serif;
  --font-dancing: "Dancing Script", cursive;
}